* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    scroll-behavior: smooth;
}


main{
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(./img/background/pollo_loco.png);
    background-size: cover;
    background-position: center;
    h1{
        margin-bottom: 16px;
        color: #702632;
        -webkit-text-stroke: 0.1px white;
    }
}
#info{
    margin-top: 8px;
    border-radius: 8px;
    width: 700px;
    height: 50px;
    background-color: #702632;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#nav-play{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 550px;
}
canvas{
    background-color: black;
    border-radius: 15px;
}
.overlay {
    position: absolute;   
    width: 720px;          
    height: 482px;         
    background-color: rgba(0, 0, 0, 0.6); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    z-index: 10;
    img{
        height: 350px;
    }           
}
.overlay-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hide{
    display: none;
}
/* #start-btn {
    position: absolute;
    z-index: 15;
} */
#start-btn {
    position: absolute;
    z-index: 15;
    top: 80%; 
    left: 50%;
    transform: translateX(-50%); 
}

.btn{
    background-color: #702632; 
    color: white;
    border-radius: 15px;
    height: 40px;
    width: 120px;
    font-family: "Rye", serif;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.btn:hover{
    cursor: pointer;
        filter: drop-shadow(0px 0px 4px #ffffff);
}
.btn-area{
    display: flex;
    justify-content: space-between;
    width: 250px;
}